{% extends 'navbar.html' %} {% block content %}
<div class="container mt-5">
  <h2 class="text-center font-weight-bold mb-4" style="color: #3498db">
    Tickets de cinéma disponibles
  </h2>

  {% if tickets %}
  <div class="row">
    {% for ticket in tickets %}
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm border-light rounded">
        <img
          src="{{ ticket.image_url }}"
          class="card-img-top"
          alt="Image du film"
          style="
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
          "
        />
        <div class="card-body">
          <h5 class="card-title text-dark" style="font-weight: bold">
            {{ ticket.title }}
          </h5>
          <p
            class="card-text text-muted"
            style="font-size: 1rem; line-height: 1.5"
          >
            {{ ticket.description }}
          </p>
          <p class="text-success" style="font-size: 1.1rem; font-weight: bold">
            Prix : {{ ticket.price }} €
          </p>
          <a
            href="{{ url_for('buy_ticket', ticket_id=ticket['_id']) }}"
            class="btn btn-warning text-white"
            style="font-weight: bold"
            >Acheter</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p
    class="text-center text-danger"
    style="font-size: 1.2rem; font-weight: bold"
  >
    Aucun ticket disponible pour le moment.
  </p>
  {% endif %}
</div>
{% endblock %}
